* {
    margin: 0 0;
}

.websiteBody {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.7)), url("./plasticBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}